@charset "UTF-8";
/* 메인 컬러 */
#app .vending-machine, #app .my-info {
  width: 360px;
  background: #dfd8ca;
  box-sizing: border-box; }

#app .vending-machine .list-item li.on::before, #app .vending-machine .list-item li:active::before, #app .vending-machine .list-item li.sold-out::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

#app .vending-machine .cont-return, #app .vending-machine .cont-put, #app .vending-machine .cont-get {
  display: flex;
  justify-content: space-between;
  line-height: 10px;
  margin-top: 12px; }

#app .vending-machine .cont-return .btn-return, #app .vending-machine .cont-put .btn-put, #app .vending-machine .cont-get .btn-get {
  width: 30%;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  background-color: #b91646;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  /* 세번째 값은 블러 처리만 */ }

#app .vending-machine .cont-return .info-balance, #app .vending-machine .cont-put .inp-put, #app .vending-machine .cont-get .list-item-staged {
  width: 65%;
  border-radius: 5px;
  border: 2px solid #105652; }

#app .vending-machine .cont-get .list-item-staged li, #app .my-info .cont-myitems .list-item-staged .item-staged {
  border-radius: 5px; }

#app .vending-machine .cont-get .list-item-staged li .btn-staged, #app .my-info .cont-myitems .list-item-staged .item-staged .btn-staged {
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 8px;
  border-radius: 5px; }

#app .vending-machine .cont-get .list-item-staged li .btn-staged .img-item, #app .my-info .cont-myitems .list-item-staged .item-staged .btn-staged .img-item {
  float: left;
  width: 18px;
  height: 33px; }

#app .vending-machine .cont-get .list-item-staged li .btn-staged .txt-item, #app .my-info .cont-myitems .list-item-staged .item-staged .btn-staged .txt-item {
  float: left;
  margin-left: 10px;
  line-height: 33px;
  font-size: 9px; }

#app .vending-machine .cont-get .list-item-staged li .btn-staged .num-counter, #app .my-info .cont-myitems .list-item-staged .item-staged .btn-staged .num-counter {
  width: 30px;
  height: 33px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  background-color: #105652;
  border-radius: 5px; }

body {
  background-color: #fbf3e4; }

.img-item {
  display: block; }

#app {
  display: flex;
  flex-wrap: wrap;
  /*여러 줄 불가*/
  justify-content: center;
  align-items: flex-start;
  gap: 0 28px;
  padding-top: 248px; }
  #app .tit-app {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 360px;
    /* max를 넣으면 화면이 늘어나던 상관없이 본래크기 유지*/
    height: 180px;
    /* 반복 없음, 중앙 정렬 / x축 100%, y축 100% */
    background: no-repeat center/100% 100% url(/bending/src/img/Logo_img.png); }
  #app .vending-machine {
    position: relative;
    padding: 31px 27px 28px; }
    #app .vending-machine .list-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between; }
      #app .vending-machine .list-item li {
        position: relative;
        width: 30%;
        height: 130px;
        border-radius: 5px;
        /* content:'' : 가상선택자에 필수로 들어가는 요소. 작음따음표'' 안에는 텍스트 내용을 넣고, 없으면 작은따음표만 넣기
        가상선택자는 부피가 없으므로, 아이콘을 표현할 땐 꼭 너비와 높이를 정해주어야 한다. transform을 쓸 때는 블럭요소(display:block 또는 display:inline-block)가 되어야 적용가능하다. */
        /* :active 는 클릭했을 때의 변화*/ }
        #app .vending-machine .list-item li.on::before {
          border: 3px solid #b91646;
          border-radius: 5px;
          box-sizing: border-box; }
        #app .vending-machine .list-item li:active::before {
          border: 3px solid #000;
          border-radius: 5px;
          box-sizing: border-box; }
        #app .vending-machine .list-item li.sold-out::before {
          z-index: 1;
          border-radius: 5px;
          background: no-repeat center/58px 46px url(/bending/src/img/Sold-out.svg) rgba(0, 0, 0, 0.8); }
        #app .vending-machine .list-item li.sold-out {
          pointer-events: none; }
        #app .vending-machine .list-item li:nth-child(3) ~ li {
          margin-top: 12px; }
        #app .vending-machine .list-item li .btn-item {
          /*버튼 영역 100퍼센트로 만들기*/
          /*맙소사 버튼은 inline 요소였어.*/
          display: block;
          border-radius: 5px;
          width: 100%;
          height: 100%; }
          #app .vending-machine .list-item li .btn-item .img-item {
            /* 버튼 안에 있는 이미지 */
            /* 요소 중앙 정렬을 위해서 margin: 0 auto 
            이미지 또한 블록요소로 바꿔줘야지 width, height값이 적용 가능합니다.*/
            width: 36px;
            height: 65px;
            margin: 0 auto;
            margin-top: 10px; }
          #app .vending-machine .list-item li .btn-item .tit-item {
            display: block;
            font-size: 9px;
            margin: 3px auto; }
          #app .vending-machine .list-item li .btn-item .txt-price {
            display: inline-block;
            font-size: 12px;
            padding: 5px 15px;
            background-color: #105652;
            border-radius: 50px;
            color: #fff;
            /*
            블락요소를 준 뒤에 background 컬러를 주면 한줄 전체 색상 적용
            inline-block 요소를 준 뒤에 background 컬러를 주면 인라인 요소만큼만 background 컬러 적용
              */ }
    #app .vending-machine .cont-return .info-balance {
      line-height: 20px;
      padding: 0 10px;
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fbf3e4; }
    #app .vending-machine .cont-put .inp-put {
      line-height: 20px;
      padding: 0 10px;
      font-size: 13px; }
    #app .vending-machine .cont-get .list-item-staged {
      height: 106px;
      padding: 12px;
      overflow-y: scroll; }
  #app .my-info {
    padding: 0 27px; }
    #app .my-info .cont-mymoney {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      border-radius: 5px;
      padding: 9px 27px; }
      #app .my-info .cont-mymoney .txt-mymoney {
        font-weight: 700; }
    #app .my-info .cont-myitems {
      margin-top: 20px;
      background: #dfd8ca;
      border-radius: 5px; }
      #app .my-info .cont-myitems .tit-myitem {
        display: block;
        text-align: center;
        margin-bottom: 13px;
        font-size: 14px;
        font-weight: 700; }
      #app .my-info .cont-myitems .list-item-staged {
        padding: 12px;
        border-radius: 5px;
        border: 2px solid #105652;
        overflow-y: scroll; }
      #app .my-info .cont-myitems .txt-total {
        display: block;
        text-align: right;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 700px; }

.list-item-staged li + li {
  margin-top: 8px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  /* 최소 1px 당 2개의 화소 */
  body {
    background-color: #fff; }
  #app {
    padding-top: 163px;
    /*480픽셀 이하로 되니깐 변함*/ }
  .my-info .cont-myitems {
    margin-top: 0;
    /*480픽셀 이하로 되니깐 변함*/
    padding: 31px 27px 32px;
    /*480픽셀 이하로 되니깐 변함*/ } }

/* 320px이상 480px이하부터 아래와 같은 querry를 적용하겠다는 의미이다. */
/*

min + 숫자 : 숫자 이상시에 적용
max + 숫자 : 숫자 이하시에 적용

*/
