@charset "utf-8";

@import "./_variable.scss";
@import "./_extend.scss";
@import "./_machine.scss";
@import "./_myinfo.scss";

body {
  background-color: $main-beige;
}

#app {
  display: flex;
  flex-wrap: wrap; /*여러 줄 불가*/
  justify-content: center;
  align-items: flex-start;
  gap: 0 28px;
  padding-top: 248px;
  .vending-machine {
    @extend %main-layout;
  }

  .tit-app {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 360px; /* max를 넣으면 화면이 늘어나던 상관없이 본래크기 유지*/
    height: 180px;
    /* 반복 없음, 중앙 정렬 / x축 100%, y축 100% */
    background: no-repeat center / 100% 100% url(/bending/src/img/Logo_img.png);
  }

  @media only screen /* only : 전체 쿼리가 일치할 때만 적용,
    screen: 코드가 적용될 미디어 유형 */ and (min-device-width: 320px) /*기기의 넓이가 320 이상*/ and (max-device-width: 480px) /*기기의 넓이가 420 이하*/ and (-webkit-min-device-pixel-ratio: 2) {
    /* 최소 1px 당 2개의 화소 */
    body {
      background-color: #fff;
    }
    #app {
      padding-top: 163px; /*480픽셀 이하로 되니깐 변함*/
    }
    .my-info .cont-myitems {
      margin-top: 0; /*480픽셀 이하로 되니깐 변함*/
      padding: 31px 27px 32px; /*480픽셀 이하로 되니깐 변함*/
    }
  }

  /* 320px이상 480px이하부터 아래와 같은 querry를 적용하겠다는 의미이다. */

  /*

min + 숫자 : 숫자 이상시에 적용
max + 숫자 : 숫자 이하시에 적용

*/
}
